<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZEE LIMITED</title>

    <!--CSS: cascading Style sheets
        3 Type:
           1. Inline CSS  - style per line
           2. internal CSS - done inside your <head>
           3. External CSS - done outside HTML
    -->
    <link rel="stylesheet" href="../static/style.css">

</head>
<body id="body1">
<center>
   <h1>Welcome to XYZee LIMITED</h1>
   <h4>Your company tag line goes here</h4>
   <h6>Limited Slots. Join us Now</h6>

   <a href="/home"> HOME</a> -
   <a href="/products"> PRODUCTS</a> -
   <a href="/services"> SERVICES</a> -
   <a href="/join"> JOIN US</a> -
   <a href=""> CONTACT US</a> -
   <br><br>
</center>

   <img src="../static/images/chamomile.jpg"
        alt="fbgjkdbg" width="200">

   <h2 class="b">Welcome Message</h2>
   <p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos distinctio dolor, id ipsum labore magnam nihil non officia perferendis quibusdam ut voluptatum. Ab atque beatae ducimus excepturi explicabo ratione, voluptates.</p>

    <!-- our mission, our vision -->
     <h2>Our Mission</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem deleniti dolorem dolorum enim facere ipsam ipsum itaque ratione? Consequatur cumque dicta dolorem eligendi libero minus mollitia neque quis ullam?</p>

   <img src="../static/images/aa.jpg" alt="tyrty"
   width="200">


   <h2  class="a b">Our Vision</h2>
   <p id="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae consectetur cum, deleniti, dolores, eligendi hic ipsa libero maiores maxime molestiae nisi possimus quae quaerat sapiente suscipit tenetur. Expedita, quasi.</p>


   <!--   Kenyan flag-->
    <table>







    </table>


















</body>
</html>