<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZEE LIMITED</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body id="body2">
<center>
   <h1 class="a">Welcome to XYZee LIMITED</h1>
   <h4>Your company tag line goes here</h4>
   <h6>Limited Slots. Join us Now</h6>

   <a href="/home"> HOME</a> -
   <a href="/products"> PRODUCTS</a> -
   <a href="/services"> SERVICES</a> -
   <a href="/join"> JOIN US</a> -
   <a href=""> CONTACT US</a> -
   <br>
</center>

<fieldset>
<legend>Personal Details</legend>
<form action = "" method = "">
    Username<br/>
    <input type = "text" name = "username"/>
    <br/>
    Password<br/>
    <input type = "password" name = "password"/>
    <br/>
    Confirm Password<br/>
    <input type = "password" name = "password"/>
    <br/>
    Email <br>
    <input type="email" name="email">
    <br>
    Your ID <br>
    <input type="number" name="id">
    <br>
    Your Phone <br>
    <input type="tel" name="phone">
    <br>
    Upload your CV <br>
    <input type="file" name="cv">
    <br>
    Select Gender <br>
    <input type="radio" name="gender"> <label for="">Male</label>
    <input type="radio" name="gender"> <label for="">Female</label>
    <br>

    Select Interests <br>
    <input type="checkbox" name="IT"> <label for="">IT</label>
     <input type="checkbox" name="Biz"> <label for="">Business</label>
     <input type="checkbox" name="Finance"> <label for="">Finance</label>
     <input type="checkbox" name="marketing"> <label for="">Marketing</label>
    <br>

    Pick Your Town <br>
    <select name="town" id="">
        <option value="Nrb">Nairobi</option>
         <option value="Nkr">Nakuru</option>
         <option value="Nrb">Nairobi</option>
         <option value="Nrb">Nairobi</option>
         <option value="Nrb">Nairobi</option>
    </select>
    <br>`

    <input type = "submit" value = "Register"/>
    <input type = "reset"/>
</form>
</fieldset>
</body>
</html>