<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZEE LIMITED</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<center>
   <h1>Welcome to XYZee LIMITED</h1>
   <h4>Your company tag line goes here</h4>
   <h6>Limited Slots. Join us Now</h6>

   <a href="/home"> HOME</a> -
   <a href="/products"> PRODUCTS</a> -
   <a href="/services"> SERVICES</a> -
   <a href="/join"> JOIN US</a> -
   <a href=""> CONTACT US</a> -
   <br>
</center>
<h2>Programs</h2>
 <ol type="i">
     <li>Python Program</li>
     <li>Python Program</li>
     <li>Python Program</li>
     <li>Python Program</li>
     <li>Python Program</li>
     <li>Python Program</li>
     <li>Python Program</li>
 </ol>




 <h2>Courses</h2>
 <ul type="square|disc|circle">
     <li>Diploma in Business</li>
     <li>Diploma in Business</li>
     <li>Diploma in Business</li>
     <li>Diploma in Business</li>
     <li>Diploma in Business</li>
 </ul>

<h2>Latest ews</h2>
<dl>
    <dt id="d1">Politics</dt>
    <dd>Lorem ipsum dolor siicing elitdolorem pa
        riatur quia soluta? Aspernatur est ex fugit
        pariatur sapiente? Adiam voluptatum.
        <a href="">Read More</a>
    </dd>

    <dt id="d2">Business</dt>
    <dd>Lorem ipsum dolor siicing elitdolorem pa
        riatur quia soluta? Aspernatur est ex fugit
        pariatur sapiente? Adiam voluptatum.</dd>

    <dt>Sports</dt>
    <dd>Lorem ipsum dolor siicing elitdolorem pa
        riatur quia soluta? Aspernatur est ex fugit
        pariatur sapiente? Adiam voluptatum.</dd>
</dl>


<fieldset>
    <legend>Personal Details</legend>
    <form action = "" method = "">
    Username<br/>
    <input type = "text" name = "username"/>
    <br/>
    Password<br/>
    <input type = "password" name = "password"/>
    <br/>
    Confirm Password<br/>
    <input type = "password" name = "password"/>
    <br/>
    <input type = "submit" value = "Register"/>
    <input type = "reset"/>
</form>
<fieldset>










</body>
</html>