<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZEE LIMITED</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<center>
   <h1>Welcome to XYZee LIMITED</h1>
   <h4>Your company tag line goes here</h4>
   <h6>Limited Slots. Join us Now</h6>

   <a href="/home"> HOME</a> -
   <a href="/products"> PRODUCTS</a> -
   <a href="/services"> SERVICES</a> -
   <a href="/join"> JOIN US</a> -
   <a href=""> CONTACT US</a> -
   <br>
</center>

<h2>Our Services Pricing</h2>
<table border="1" width="100%">
    <tr>
        <th class="a">Item</th>
        <th class="a">Cost</th>
        <th class="a">Qtty</th>

        <th class="b">Shop</th>
        <th class="b">Photo</th>
    </tr>

    <tr>
        <td class="a">Product A</td>
        <td>5000</td>
        <td>5</td>
        <td class="a">TRM</td>
        <td><img src="../static/images/aa.jpg"
                 alt="" width="70"> </td>
    </tr>

    <tr>
       <td>Product A</td>
        <td>5000</td>
        <td>5</td>
        <td>TRM</td>
        <td><img src="../static/images/chamomile.jpg"
                 alt="" width="70"> </td>
    </tr>

    <tr>
       <td class="a">Product A</td>
        <td>5000</td>
        <td>5</td>
        <td>TRM</td>
        <td><img src="../static/images/aa.jpg"
                 alt="" width="70"> </td>
    </tr>


</table>

</body>
</html>